<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于机器学习的电影评论情感分析与研究系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于机器学习的电影评论情感分析与研究系统 预测结果表(predictions)</h3>
        </div>
      </div>
      {% csrf_token %}











<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_predictions_predictedsentiment_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测的情感倾向结果 ******************** pie_v2***/ init_echart("echart_predictions_predictedsentiment_pie_v2",'predictions.predictedsentiment_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_predictions_predictedsentiment_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测的情感倾向结果 ******************** pie_v1***/ init_echart("echart_predictions_predictedsentiment_pie_v1",'predictions.predictedsentiment_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_predictions_predictedsentiment_pie" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测的情感倾向结果 ******************** pie***/ init_echart("echart_predictions_predictedsentiment_pie",'predictions.predictedsentiment_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_predictions_predictedsentiment_line" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测的情感倾向结果 ******************** line***/ init_echart("echart_predictions_predictedsentiment_line",'predictions.predictedsentiment_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_predictions_predictedsentiment_bar" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测的情感倾向结果 ******************** bar***/ init_echart("echart_predictions_predictedsentiment_bar",'predictions.predictedsentiment_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_predictions_predictedsentiment_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测的情感倾向结果 ******************** bar_v1***/ init_echart("echart_predictions_predictedsentiment_bar_v1",'predictions.predictedsentiment_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_predictions_confidencescore_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测结果的置信度分数如果模型支持输出的话 ******************** pie_v2***/ init_echart("echart_predictions_confidencescore_pie_v2",'predictions.confidencescore_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_predictions_confidencescore_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测结果的置信度分数如果模型支持输出的话 ******************** pie_v1***/ init_echart("echart_predictions_confidencescore_pie_v1",'predictions.confidencescore_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_predictions_confidencescore_pie" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测结果的置信度分数如果模型支持输出的话 ******************** pie***/ init_echart("echart_predictions_confidencescore_pie",'predictions.confidencescore_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_predictions_confidencescore_line" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测结果的置信度分数如果模型支持输出的话 ******************** line***/ init_echart("echart_predictions_confidencescore_line",'predictions.confidencescore_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_predictions_confidencescore_bar" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测结果的置信度分数如果模型支持输出的话 ******************** bar***/ init_echart("echart_predictions_confidencescore_bar",'predictions.confidencescore_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_predictions_confidencescore_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测结果的置信度分数如果模型支持输出的话 ******************** bar_v1***/ init_echart("echart_predictions_confidencescore_bar_v1",'predictions.confidencescore_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_predictions_createdat_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测结果的创建时间 ******************** pie_v2***/ init_echart("echart_predictions_createdat_pie_v2",'predictions.createdat_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_predictions_createdat_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测结果的创建时间 ******************** pie_v1***/ init_echart("echart_predictions_createdat_pie_v1",'predictions.createdat_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_predictions_createdat_pie" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测结果的创建时间 ******************** pie***/ init_echart("echart_predictions_createdat_pie",'predictions.createdat_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_predictions_createdat_line" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测结果的创建时间 ******************** line***/ init_echart("echart_predictions_createdat_line",'predictions.createdat_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_predictions_createdat_bar" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测结果的创建时间 ******************** bar***/ init_echart("echart_predictions_createdat_bar",'predictions.createdat_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_predictions_createdat_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 预测结果表 预测结果的创建时间 ******************** bar_v1***/ init_echart("echart_predictions_createdat_bar_v1",'predictions.createdat_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



    </div>
  </body>
</html>
