<style>.default-echart-border{
    color: #9dedf3;
    border-color: #0f4804;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 4px;
    border-radius: 12px;
    box-shadow: 1px rgba(153, 102, 255, 1);
    padding: 4px;
    background-color: #e6c7d6;
}.btn{
    color: #bc9bf7;
    border-color: #1b3628;
    font-size: 1.3rem;
    font-weight: 800;
    font-style: oblique;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 6px;
    border-radius: 11px;
    box-shadow: 3px rgba(75, 192, 192, 1);
    padding: 4px;
    background-color: #e3dbac;
}.my-header{
    color: black;
    border-color: #1a2507;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 5px;
    border-radius: 8px;
    box-shadow: 3px rgba(153, 102, 255, 1);
    padding: 3px;
    background-color: white;
}.my-container-margin{
    color: #b79be5;
    border-color: #122918;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 9px;
    border-radius: 11px;
    box-shadow: 2px rgba(255, 206, 86, 1);
    padding: 0;
    background-color: #b3d1ce;
}.table{
    color: #d4aee6;
    border-color: #351718;
    font-size: 2.4rem;
    font-weight: 900;
    font-style: oblique;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 6px;
    border-radius: 2px;
    box-shadow: 3px rgba(54, 162, 235, 1);
    padding: 3px;
    background-color: #d1fac6;
}.form-control{
    color: #91deab;
    border-color: #540554;
    font-size: 1.6rem;
    font-weight: 800;
    font-style: normal;
    border: 1px solid rgba(54, 162, 235, 1);
    margin: 0;
    border-radius: 10px;
    box-shadow: 2px rgba(54, 162, 235, 1);
    padding: 2px;
    background-color: #e19ca6;
}.form-control-label{
    color: #93a4c2;
    border-color: #025430;
    font-size: 1.1rem;
    font-weight: 400;
    font-style: oblique;
    border: 1px solid rgba(54, 162, 235, 1);
    margin: 3px;
    border-radius: 4px;
    box-shadow: 1px rgba(153, 102, 255, 1);
    padding: 0;
    background-color: #f9b9e7;
}.form-control-input{
    color: #d699ee;
    border-color: #463d22;
    font-size: 1.1rem;
    font-weight: 300;
    font-style: italic;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 6px;
    border-radius: 6px;
    box-shadow: 3px rgba(75, 192, 192, 1);
    padding: 4px;
    background-color: #d9afc8;
}</style>