<style>.default-echart-border{
    color: #e3debc;
    border-color: #191f3c;
    font-size: 2.5rem;
    font-weight: 300;
    font-style: normal;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 12px;
    border-radius: 1px;
    box-shadow: 1px rgba(75, 192, 192, 1);
    padding: 2px;
    background-color: #cae8b9;
}.btn{
    color: #f9fff4;
    border-color: #2a313e;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: oblique;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 9px;
    border-radius: 0;
    box-shadow: 0px rgba(75, 192, 192, 1);
    padding: 1px;
    background-color: #cfc8a2;
}.my-header{
    color: black;
    border-color: #443b3a;
    font-size: 2.4rem;
    font-weight: 200;
    font-style: oblique;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 11px;
    border-radius: 1px;
    box-shadow: 1px rgba(54, 162, 235, 1);
    padding: 3px;
    background-color: white;
}.my-container-margin{
    color: #e69fd5;
    border-color: #343005;
    font-size: 1.6rem;
    font-weight: 100;
    font-style: oblique;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 8px;
    border-radius: 4px;
    box-shadow: 3px rgba(255, 99, 132, 1);
    padding: 0;
    background-color: #f8a3c4;
}.table{
    color: #ddddff;
    border-color: #09040b;
    font-size: 2.2rem;
    font-weight: 100;
    font-style: oblique;
    border: 1px solid rgba(54, 162, 235, 1);
    margin: 7px;
    border-radius: 5px;
    box-shadow: 3px rgba(255, 159, 64, 1);
    padding: 3px;
    background-color: #9ce4b9;
}.form-control{
    color: #96cee5;
    border-color: #2c4339;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: oblique;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 5px;
    border-radius: 11px;
    box-shadow: 0px rgba(75, 192, 192, 1);
    padding: 1px;
    background-color: #a3f5f0;
}.form-control-label{
    color: #e391b0;
    border-color: #4d3e13;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: normal;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 6px;
    border-radius: 0;
    box-shadow: 2px rgba(255, 159, 64, 1);
    padding: 2px;
    background-color: #ee99f3;
}.form-control-input{
    color: #fbf3df;
    border-color: #0f1815;
    font-size: 0.7rem;
    font-weight: 100;
    font-style: normal;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 4px;
    border-radius: 0;
    box-shadow: 3px rgba(255, 206, 86, 1);
    padding: 4px;
    background-color: #bfa4b0;
}</style>